node_modules/
.vscode
typechain/
env.json
.tmp-addresses*.json
data/lmxMigration
data/esLmxDistribution
data/bonds
data/batchSend
data/nft
data/snapshotBalance
data/holders
flattened
distribution-data*.json
**/.DS_Store

#Hardhat files
cache
artifacts
